.client-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  width: 100%;
}

.client-box {
  display: flex;
  gap: 1rem;
  justify-content: center;

  width: 100%;
  max-width: 50rem;
}

.client-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* stylelint-disable custom-property-pattern */
.readonly-textarea fieldset {
  border-color: rgb(
    var(--mui-palette-common-onBackgroundChannel) / 23%
  ) !important;
  border-width: 1px !important;
}
